* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colors */
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);

    /* Typography */
    --font-body-size: 13px;
    --font-family-main: "Manrope", sans-serif;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    /* Layout reference sizes (design) */
    --layout-mobile: 375px;
    --layout-desktop: 1440px;
}

body {
    background-color: var(--light-grayish-blue);
    font-size: var(--font-body-size);
    font-family: var(--font-family-main);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 40px 20px;
}

.card {
    max-width: 730px;
    width: 100%;
    display: flex;
    border-radius: 12px;
    background-color: white;
    overflow: hidden;
}

.card_wrapper {
    flex: 1;
    padding: 32px;
}


.card_image {
    flex: 0 0 285px;
    align-self: stretch;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.card_title {
    color: var(--very-dark-grayish-blue);
    font-size: 20px;
}

.card_text {
    color: var(--desaturated-dark-blue);
    font-weight: var(--font-weight-medium);
    margin-top: 16px;
}

.avatar-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.card_author {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
}

.card_info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.card_profile {
    display: flex;
    flex-direction: column;
}

.card_profile h2 {
    font-size: 13px;
    color: var(--very-dark-grayish-blue);
    font-weight: var(--font-weight-bold);
}

.card_profile span {
    font-size: 13px;
    color: var(--grayish-blue);
}

.btn {
    border: none;
    background-color: var(--light-grayish-blue);
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

@media (max-width: 768px) {

.card {
    flex-direction: column;
}

.card_image {
    flex: none;
}

.card_title {
    font-size: 16px;
}
.card_text {
    margin-top: 12px;
}

.card_author {
    margin-top: 24px;
}

.card_wrapper {
    padding: 28px;
}
}